$font-family: "Pacifico", cursive;

.dialog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .arrow {
    .mat-button {
      padding: 0;
      margin: 0;
      height: 100%;
      width: auto;

      .mat-button-wrapper {
        width: 100%;
        height: 100%;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .number {
    .mat-button {
      height: 100px;
      width: 100px;

      span {
        font-family: $font-family;
        display: inline-block;
        vertical-align: middle;
        line-height: 90px;
        text-align: center;
        font-size: 70px;
      }
    }
  }
}
