$font-family: 'VT323', monospace;

.dialog {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px;
  grid-template-areas:
    ". . .";
}

.button {
  height: 80%;
  justify-self: center;
  align-self: center;
  img {
    height: 100%;
  }
}

.number {
  justify-self: center;
  align-self: center;
  span {
    font-family: $font-family;
    font-size: 70px;
  }
}
