<div class="app-container">
  <div class="title-container">
    <a mat-button (click)="muteButton()" class="mute-button">
      <img [src]="settings.mute ? 'assets/buttons/sound-off.jpg' : 'assets/buttons/sound-on.jpg'" />
    </a>
    <span>MENU</span>
  </div>
  <div class="character-list">
    <a mat-button class="character-row good">
      <img class="portrait" src="assets/characters/loyal-servant.jpg" />
      <span class="name">Loyal Servant</span>
      <span class="number">{{ servants }}</span>
    </a>
    <a mat-button class="character-row good">
      <img class="portrait" src="assets/characters/merlin.jpg" />
      <span class="name">Merlin</span>
    </a>
    <a mat-button class="character-row good" (click)="toggleCharacter(character.Morgana)">
      <img class="portrait" src="assets/characters/percival.jpg" />
      <span class="name" [ngClass]="{ strikethrough: !settings.characters[character.Morgana] }">Percival</span>
      <img class="enabled"
        [src]="settings.characters[character.Morgana] ? 'assets/buttons/character-on.jpg' : 'assets/buttons/character-off.jpg'" />
    </a>
    <a mat-button class="character-row evil">
      <img class="portrait" src="assets/characters/minion.jpg" />
      <span class="name">Minion of Mordred</span>
      <span class="number">{{ minions }}</span>
    </a>
    <a mat-button class="character-row evil">
      <img class="portrait" src="assets/characters/assassin.jpg" />
      <span class="name">Assassin</span>
    </a>
    <a mat-button class="character-row evil" (click)="toggleCharacter(character.Morgana)">
      <img class="portrait" src="assets/characters/morgana.jpg" />
      <span class="name" [ngClass]="{ strikethrough: !settings.characters[character.Morgana] }">Morgana</span>
      <img class="enabled"
        [src]="settings.characters[character.Morgana] ? 'assets/buttons/character-on.jpg' : 'assets/buttons/character-off.jpg'" />
    </a>
    <a mat-button class="character-row evil" (click)="toggleCharacter(character.Mordred)">
      <img class="portrait" src="assets/characters/mordred.jpg" />
      <span class="name" [ngClass]="{ strikethrough: !settings.characters[character.Mordred] }">Mordred</span>
      <img class="enabled"
        [src]="settings.characters[character.Mordred] ? 'assets/buttons/character-on.jpg' : 'assets/buttons/character-off.jpg'" />
    </a>
    <a mat-button class="character-row evil" (click)="toggleCharacter(character.Oberon)">
      <img class="portrait" src="assets/characters/oberon.jpg" />
      <span class="name" [ngClass]="{ strikethrough: !settings.characters[character.Oberon] }">Oberon</span>
      <img class="enabled"
        [src]="settings.characters[character.Oberon] ? 'assets/buttons/character-on.jpg' : 'assets/buttons/character-off.jpg'" />
    </a>
  </div>
  <div class="footer-menu">
    <a mat-button (click)="openPlayerDialog()" class="player-button">
      <img class="player-button-image" src="assets/buttons/player-dialog.jpg" />
      <span class="player-button-text">{{ settings.playerNumber }}</span>
    </a>
    <a mat-button (click)="play()" class="play-button">
      <img src="assets/buttons/play.jpg" />
    </a>
    <a mat-button (click)="openSettingsDialog()" class="settings-button">
      <img src="assets/buttons/settings.jpg" />
    </a>
  </div>
</div>
