<div class="container">
  <div class="row center-align">
    <h1>{{prompt.category}}</h1>
  </div>
  <div class="row center-align">
    <div class="card purple lighten-1" (click)="toggleWord()">
      <div class="card-content white-text">
        <span class="card-title"
          ><div *ngIf="!wordVisible">
            Show Word
          </div>
          <div *ngIf="wordVisible">
            <b>
              {{selectedPlayerFake ? "FAKE" : prompt.word}}
            </b>
          </div></span
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s2 l5 center-align">
      <a
        (click)="lastPlayer()"
        class="waves-effect waves-light btn-large purple lighten-1"
        ><</a
      >
    </div>
    <div class="col s8 l2 center-align">
      <p class="centreNumber">{{selectedPlayer}} / {{playerNumber}}</p>
    </div>
    <div class="col s2 l5 center-align">
      <a
        (click)="nextPlayer()"
        class="waves-effect waves-light btn-large purple lighten-1"
        >></a
      >
    </div>
  </div>
  <div class="row center-align">
    <a
      (click)="back()"
      class="waves-effect waves-light btn-large center-align purple lighten-1"
      >back</a
    >
  </div>
</div>
