$font-family: "Pacifico",
cursive;

.app-container {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 768px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-flow: column;

  .mat-button {
    position: absolute;
    padding: 0;
    text-align: unset;

    .mat-button-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}

.title-container {
  height: 100px;

  span {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .mute-button {
    min-width: 0;
    width: 8vh;
    height: auto;
    position: relative;
    top: 10px;
    left: 10px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.centre-container {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .center-card {
    margin: auto;
    width: 80%;
    height: 20vh;

    img {
      display: block;
      min-width: 0;
      height: 20vh;
      width: auto;
      margin: auto;
      margin-bottom: 20px;
    }

    span {
      display: block;
      margin: auto;
      text-align: center;
      width: 80%;
      font-size: 40px;
    }
  }
}

.footer-menu {
  height: 150px;

  .stop-button {
    min-width: 0;
    width: 8vh;
    height: auto;
    position: absolute;
    bottom: 25px;
    left: 25px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .pause-button {
    min-width: 0;
    width: 8vh;
    height: auto;
    position: absolute;
    bottom: 25px;
    right: 25px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
