<div class="dialog">
  <div class="main">
    <p>
      Created by: <a href="https://imperialoctopus.github.io/">Zoey Child</a><br>
      Special thanks: <a href="https://gcbgc.soc.srcf.net/" target="_blank">GCBGC</a>
    </p>
    <p>
      <a href="https://upload.snakesandlattes.com/rules/r/ResistanceAvalon.pdf" target="_blank">
        Game rules
      </a>
    </p>
    <p>
      <a href="https://github.com/ImperialOctopus/avalon-app" target="_blank">
        This project on GitHub
      </a>
    </p>
  </div>
  <a class="close" (click)="close()">
    <img src="assets/buttons/okay.png">
  </a>
</div>
