$font-family: 'VT323', monospace;

.dialog {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 60px;

  font-size: 30px;
}
.main {
  font-size: 1.5rem;
  p {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #447CCF;
  }
  a:hover {
    color: #00519d;
  }
}
.close {
  height: 100%;
  align-self: center;
  justify-self: center;
  img {
    height: 100%;
  }
}
