$font-family: 'VT323', monospace;

.dialog {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 60px;

  font-size: 30px;
}
.main {
  font-size: 1.5rem;
}
.close {
  height: 100%;
  align-self: center;
  justify-self: center;
  img {
    height: 100%;
  }
}
