<div class="settings-container">
  <div class="form-container">
    <mat-form-field>
      <mat-select [(ngModel)]="_announcer" placeholder="Announcer Voice">
        <mat-option value="en-gb-C">Synth Female</mat-option>
        <mat-option value="en-gb-D">Synth Male</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-slide-toggle [(ngModel)]="_verbose">Verbose</mat-slide-toggle>
  </div>
  <div class="form-container">
    <mat-slide-toggle [(ngModel)]="_flair">Unnecessary flair</mat-slide-toggle>
  </div>
  <div class="form-container">
    <mat-slide-toggle [(ngModel)]="_tiger">Tiger mode</mat-slide-toggle>
  </div>
  <div class="button-container">
    <button (click)="save()" mat-raised-button>Save</button>
  </div>
</div>
