<div class="dialog">
  <a class="row" (click)="changeAnnouncer('en-gb-C')">
    <img class="row-image" src="assets/settings/en-gb-C-icon.png">
    <span class="row-text">Announcer: Synth Female</span>
    <img class="row-enabled"
      [src]="settings.announcer == 'en-gb-C' ? 'assets/buttons/character-on.png' : 'assets/buttons/character-off.png'">
  </a>
  <a class="row" (click)="changeAnnouncer('en-gb-D')">
    <img class="row-image" src="assets/settings/en-gb-D-icon.png">
    <span class="row-text">Announcer: Synth Male</span>
    <img class="row-enabled"
      [src]="settings.announcer == 'en-gb-D' ? 'assets/buttons/character-on.png' : 'assets/buttons/character-off.png'">
  </a>
  <a class="row" (click)="verbose()">
    <img class="row-image" src="assets/settings/question.png">
    <span class="row-text">Verbose</span>
    <img class="row-enabled"
      [src]="settings.verbose ? 'assets/buttons/character-on.png' : 'assets/buttons/character-off.png'">
  </a>
  <a class="row" (click)="flair()">
    <img class="row-image" src="assets/settings/duck.png">
    <span class="row-text">Unnecessary Flair</span>
    <img class="row-enabled"
      [src]="settings.flair ? 'assets/buttons/character-on.png' : 'assets/buttons/character-off.png'">
  </a>
  <a class="close" (click)="close()">
    <img src="assets/buttons/okay.png">
  </a>
</div>
