$font-family: 'VT323', monospace;

.dialog {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 60px) 40px;
}
.row {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: auto;
}
.close {
  justify-self: center;
}
