/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Pacifico");

$font-family: "Pacifico",
cursive;

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
  background-color: #e8daef;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.strikethrough {
  text-decoration: line-through;
}
