@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

$font-family: 'VT323', monospace;

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
  background-color: #EEEEEE;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.strikethrough {
  text-decoration: line-through;
}
